
table>thead .sorting,
table>thead .sorting_asc,
table>thead .sorting_desc,
table>thead .sorting_asc_disabled,
table>thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

table>thead th.sorting::after,
table>thead th.sorting_asc::after,
table>thead th.sorting_asc_disabled::after,
table>thead th.sorting_desc::after,
table>thead th.sorting_desc_disabled::after
{
    right: .5em;
    left: auto;
}

table>thead th.sorting::after,
table>thead th.sorting_asc::after,
table>thead th.sorting_desc::after,
table>thead th.sorting_asc_disabled::after,
table>thead th.sorting_desc_disabled::after {
    right: 0.5em;
    content: "↓";
}

table>thead th.sorting:before,
table>thead th.sorting:after,
table>thead th.sorting_asc:before,
table>thead th.sorting_asc:after,
table>thead th.sorting_desc:before,
table>thead th.sorting_desc:after,
table>thead th.sorting_asc_disabled:before,
table>thead th.sorting_asc_disabled:after,
table>thead th.sorting_desc_disabled:before,
table>thead th.sorting_desc_disabled:after {
    position: absolute;
    bottom: .9em;
    display: block;
    opacity: .3;
}

table>thead th.sorting::before,
table>thead th.sorting_asc::before,
table>thead th.sorting_asc_disabled::before,
table>thead th.sorting_desc::before,
table>thead th.sorting_desc_disabled::before {
    right: 1em;
    left: auto;
}

table>thead th.sorting::before,
table>thead th.sorting_asc::before,
table>thead th.sorting_desc::before,
table>thead th.sorting_asc_disabled::before,
table>thead th.sorting_desc_disabled::before {
    right: 1em;
    content: "↑";
}

table>thead th.sorting_asc:before,
table>thead th.sorting_desc:after {
    opacity: 1;
}